<nav class="navbar navbar-expand navbar-dark bg-dark d-flex flex-row px-5">
  <div class="text-light bg-dark" style="font-family: Sigmar;font-size: xx-large;">HARMONI</div>
</nav>
<!--navbar hh-->
<div class="container d-flex flex-column justify-content-center align-items-center m-5">
  <div class="row m-3" style="font-size:xx-large;">Ready for another party?</div>
  <form [formGroup]="Sign" (ngSubmit)="submitHandler(Sign)" ngForm>
    <div class="form-group">
      <label for="username"></label><br>
      <input type="text" name="username"
      class="form-control" formControlName="username">
      <small class="text-muted">username</small>
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="password"></label><br>
      <input type="password" id="password" class="form-control" name="password" formControlName="password">
      <small class="text-muted">password</small>
    </div>
    <pre></pre>
    <!--add [routerLink]="['/register']" to the button and it will take you to /register-->
    <button type="submit" class="btn btn-primary rounded-pill"
    style="background-color: rgb(76, 0, 163);border-color: rgb(rgb(218, 26, 218);"

    >
      Submit
    </button>
  </form>
</div>
