<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top"
style="max-height: 80px;
  background: linear-gradient(to right, #a641e1, #9682ee);">

<div class="position-fixed top-0 start-0 bottom-0 bg-dark"
style="width: 200px">
  <div class="py-3">
    <a class="d-flex align-items-center px-3 mb-3" href="#">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png"
        alt="Your Logo" width="150px" class="me-2">
    </a>

    <div class="py-3" style="height: calc(100vh - 3rem); overflow: auto;">
      <!-- Your content here -->
      <!--this shit is here bc if you put it between the buttons it creates an unwanted
    space between them-->
    <div *ngIf="true" class="notification"></div>
      <ul class="nav flex-column" >
          <li class="nav-item">
            <div class="nav-link text-light hr-lines" style="margin-left: 10px;" href="#">
              Menu</div>
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <svg style="margin:10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-1x2" viewBox="0 0 16 16"> <path d="M6 1H1v14h5V1zm9 0h-5v5h5V1zm0 9v5h-5v-5h5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1h-5z"/> </svg>
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <i class="fa-solid fa-bell" style="margin:10px">
              </i>
              Notifications</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <i class="fa-solid fa-gear" style="margin:10px"></i>
              Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <i class="fas fa-door-open" style="margin:10px"></i>
              Logout</a>
          </li>
          <br>
          <li class="nav-item">
            <div class="nav-link text-light hr-lines2" style="margin-left: 10px;" href="#">
            Playlists</div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">
            <i class="fas fa-music" style="margin:10px"></i>
            Mock list
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>


  <div class="justify-content-start"
  style="color: #fff; margin-left: 240px;">
  Welcome, IrisTheSnail!</div>
  <div class="collapse navbar-collapse justify-content-end">
      <form class="form-inline my-2 my-lg-0 d-flex flex-row border rounded-pill"
      style="margin-right: 5%;">
        <input class="form-control mr-sm-2 bg bg-white border-0 rounded-from-left-side"
        type="search"
        placeholder="<Friend's username>" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    <div class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
      </a>
    </div>
    <div class="nav-item">
          <a class="nav-link" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
            class="rounded-circle" alt="Profile Pic" height="40">
          </a>
        </div>
  </div>
</nav>

<div style="position:absolute; left:300px;top:300px;"></div>
