<div>
  <div style=" position: relative;">
    <img src="https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png"
    alt="insert cool photo here"
    class="img-fluid w-100" style="max-width: 100%; height: auto; z-index: -1;">
    <div alt="logo+slogan" class="position-absolute top-50 start-50 translate-middle container">


      <div class="col">
        <div alt="logo" class="w-75">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/1200px-LinkedIn_Logo.svg.png" width="60%">
        </div>

      </div>
      <div class="col m-5" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo, eius neque quia similique doloribus laudantium, perferendis aperiam voluptate esse aliquid voluptates dolor expedita minima, nesciunt sed culpa architecto in!
      </div>

      <div class="col d-3 text-white ">
        <a routerLink="/register" class="btn btn-primary rounded-pill btn-lg active float-start"
        style="background-color: rgb(102, 0, 161); border-color: white;"
        aria-pressed="true">Enter the world of music <br> REGISTER</a>
        <a routerLink="/signin" class="btn btn-secondary rounded-pill btn-lg active float-end" aria-pressed="true">Welcome back! <br> LOGIN</a>
      </div>
    </div>

  </div>


</div>
