<div>
  <div style=" position: relative;">
    <img src="https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png"
    alt="insert cool photo here"
    class="img-fluid w-100" style="max-width: 100%; height: auto; z-index: -1;">
    <div alt="logo+slogan" class="position-absolute top-50 start-50 translate-middle container"
    >


      <div class="col align-items-center text-center">
        <div alt="logo" class="w-75" style="font-family: Sigmar;font-size: xx-large;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HARMONI
        </div>

      </div>
      <div class="col m-5" style="color: white; font-size: large;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to our musical realm! Invite your friends over and have fun!
      </div>

      <div class="col d-3 text-white ">
        <a routerLink="/register" class="btn btn-primary rounded-pill btn-lg active float-start"
        style="background-color: rgb(102, 0, 161); border-color: white;"
        aria-pressed="true">Enter the world of music <br> REGISTER</a>
        <a routerLink="/signin" class="btn btn-secondary rounded-pill btn-lg active float-end" aria-pressed="true">Welcome back! <br> LOGIN</a>
      </div>
    </div>

  </div>


</div>
