<div class="col-lg border border-3">
  <div class="row position-fixed top-0 bottom-0 end-0 start-0 container" style="margin-top:72px; margin-left: 200px;">
    <div class="row" style="margin-top: 40px;">
      <div class="col">
        <div class="d-flex flex-row">
          <app-image-insert></app-image-insert>
          <div style="margin-left:50px;padding-top: 70px; padding-bottom: 70px;">
            Select a profile pic from your device!
          </div>
        </div>

        <div class="d-flex flex-row">
          <div style="margin:10px">Email :</div>
            <input class=" mr-sm-2 bg bg-white border-1 rounded-from-left-side"
                  placeholder="test@example.com" aria-label="Search"
                  style="width:400px; margin:10px">
            <div style="margin:10px">To change it type a new email</div>
        </div>
      </div>
    </div>
  </div>

</div>
